<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--    namespace对应Mapper接口名                -->
<mapper namespace="springmvctest.mapper.AuthorMapper">
	<select id="findOne" resultMap="authorDetails">
		select 
		  a.ID AUTHOR_ID, a.NAME AUTHOR_NAME, a.GENDER AUTHOR_GENDER, a.DESCRIPTION AUTHOR_DESCRIPTION,
		  b.ID BOOK_ID, b.TITLE BOOK_TITLE, b.DESCRIPTION BOOK_DESCRIPTION,
		  p.ID PUBLISHSER_ID, p.NAME PUBLISHER_NAME
		from AUTHORS a 
		  left join BOOK_AUTHORS ba on ba.AUTHOR_ID = a.ID
		  left join BOOKS b on ba.BOOK_ID = b.ID
		  left join PUBLISHERS p on b.PUBLISHER_ID = p.ID
		where a.ID = #{id}
	</select>
	
	<resultMap type="Author" id="authorDetails">
		<id column="AUTHOR_ID" property="id"/>
		<result column="AUTHOR_NAME" property="name"/>
		<result column="AUTHOR_GENDER" property="gender"/>
        <result column="AUTHOR_DESCRIPTION" property="description"/>
		<collection property="books" ofType="Book">
			<id column="BOOK_ID" property="id"/>
			<result column="BOOK_TITLE" property="title"/>
			<association property="publisher" javaType="Publisher">
				<id column="PUBLISHSER_ID" property="id"/>
				<result column="PUBLISHER_NAME" property="name"/>
			</association>
		</collection>
	</resultMap>
	
	<select id="findAll" resultMap="authorDetails">
		select 
		  a.ID AUTHOR_ID, a.NAME AUTHOR_NAME, a.GENDER AUTHOR_GENDER, a.DESCRIPTION AUTHOR_DESCRIPTION,
		  b.ID BOOK_ID, b.TITLE BOOK_TITLE, b.DESCRIPTION BOOK_DESCRIPTION,
		  p.ID PUBLISHSER_ID, p.NAME PUBLISHER_NAME
		from AUTHORS a 
		  left join BOOK_AUTHORS ba on ba.AUTHOR_ID = a.ID
		  left join BOOKS b on ba.BOOK_ID = b.ID
		  left join PUBLISHERS p on b.PUBLISHER_ID = p.ID
	</select>
  
    <insert id="create">
      insert into AUTHORS(NAME, GENDER, DESCRIPTION)
      values(#{name}, #{gender}, #{description})
    </insert>
    
    <update id="update">
      update AUTHORS 
      set NAME = #{name}, GENDER = #{gender}, DESCRIPTION = #{description}
      where ID = #{id}
    </update>
    
    <select id="findAllOptions" resultType="Author">
      select ID, NAME from AUTHORS
    </select>
</mapper>