<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="springmvctest.mapper.BookMapper">
   <select id="findAll" resultMap="bookDetails">
     select 
      b.ID BOOK_ID, b.TITLE BOOK_TITLE, b.DESCRIPTION BOOK_DESCRIPTION,
      p.ID PUBLISHER_ID, p.NAME PUBLISHER_NAME, p.DESCRIPTION PUBLISHER_DESCRIPTION,
      a.ID AUTHOR_ID, a.NAME AUTHOR_NAME, a.GENDER AUTHOR_GENDER
     from BOOKS b 
      inner join PUBLISHERS p on b.PUBLISHER_ID = p.ID 
      left join BOOK_AUTHORS ba on ba.BOOK_ID = b.ID
      inner join AUTHORS a on ba.AUTHOR_ID = a.ID
   </select>

  <resultMap type="Book" id="bookDetails">
    <id column="BOOK_ID" property="id" />
    <result column="BOOK_TITLE" property="title" />
    <result column="BOOK_DESCRIPTION" property="description" />
    <association property="publisher" javaType="Publisher">
      <id column="PUBLISHER_ID" property="id" />
      <result column="PUBLISHER_NAME" property="name" />
      <result column="PUBLISHER_DESCRIPTION" property="description" />
    </association>

    <collection property="authors" ofType="Author">
      <id column="AUTHOR_ID" property="id" />
      <result column="AUTHOR_NAME" property="name" />
      <result column="AUTHOR_GENDER" property="gender" />
    </collection>
  </resultMap>
  
   <select id="findOne" resultMap="bookDetails">
     select 
      b.ID BOOK_ID, b.TITLE BOOK_TITLE, b.DESCRIPTION BOOK_DESCRIPTION,
      p.ID PUBLISHER_ID, p.NAME PUBLISHER_NAME, p.DESCRIPTION PUBLISHER_DESCRIPTION,
      a.ID AUTHOR_ID, a.NAME AUTHOR_NAME, a.GENDER AUTHOR_GENDER
     from BOOKS b 
      inner join PUBLISHERS p on b.PUBLISHER_ID = p.ID 
      left join BOOK_AUTHORS ba on ba.BOOK_ID = b.ID
      inner join AUTHORS a on ba.AUTHOR_ID = a.ID
     where b.ID = #{id}
   </select>  
   
   <insert id="create" useGeneratedKeys="true" keyColumn="ID" keyProperty="id">
     insert into BOOKS(TITLE, DESCRIPTION, PUBLISHER_ID) 
     values(#{title}, #{description}, #{publisher.id})
   </insert>
   
   <insert id="addAuthor">
     insert into BOOK_AUTHORS(BOOK_ID, AUTHOR_ID) 
     values(#{bookId}, #{authorId})
   </insert>
</mapper>