<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--    namespace对应Mapper接口名                -->
<mapper namespace="springmvctest.mapper.OperatorMapper">
  <insert id="create">
    insert into OPERATORS(USERNAME, PASSWORD, ROLE_ID) 
    values(#{username}, #{password}, #{role.id})
  </insert>
  
  <select id="usernameExists" resultType="boolean">
    select count(*) > 0 from OPERATORS where USERNAME = #{username}
  </select>
</mapper>