<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--    namespace对应Mapper接口名                -->
<mapper namespace="springmvctest.mapper.PublisherMapper">
  <insert id="create">
    insert into PUBLISHERS(NAME, DESCRIPTION) 
    values(#{name}, #{description})
  </insert>
  
  <select id="findAll" resultType="Publisher">
    select * from PUBLISHERS
  </select>
</mapper>